// =========================== Page START =========================
@media screen and (min-width:1280px){
    #startMain{
        display: grid;
        grid-template-columns:  150px repeat(5, 1fr) 150px;
        grid-template-rows: 35px 75px 35px 1fr 150px;
        #contactSupport{
            display: flex;
            justify-content: center;
            align-items: center;
            grid-column: 6/8;
            margin-left: 100px;
            font-size: 20px;
            width: 180px;
            border-radius: 10px;
            padding: 10px;
        }
        #startBox{
            height: 100%;
            justify-content: space-evenly;
            div{
                padding-top: 10px;
                height: 400px;
                h1{
                    font-size: 70px;
                }
                p{
                    font-weight: 00;
                    font-size: 50px;
                }       
            }
            #playButton{
                font-size: 20px;
                margin-top:10px;
                height: 60px;
                width: 180px;
            }
        }
        span{
            display: flex;
            justify-content: end;
            align-items:flex-end;
            grid-row: 4;
            grid-column: 4/7;
            margin: 20px;
            #howToPlay{
                letter-spacing:2px;
                font-size: 20px;
            }
        }
    }
}


@media screen and (min-width:1350px){
    #startMain{
        display: grid;
        grid-template-columns:  200px repeat(5, 1fr) 200px;
        grid-template-rows: 35px 75px 35px 1fr 150px;
}}


@media screen and (min-width:1450px){
    #startMain{
        display: grid;
        grid-template-columns:  250px repeat(5, 1fr) 250px;
        grid-template-rows: 35px 75px 35px 1fr 150px;
        #contactSupport{
            margin-left: 150px;
        }
}}


@media screen and (min-width:1550px){
    #startMain{
        display: grid;
        grid-template-columns:  300px repeat(5, 1fr) 300px;
        grid-template-rows: 35px 75px 35px 1fr 150px;
}}


@media screen and (min-width:1700px){
    #startMain{
        display: grid;
        grid-template-columns:  400px repeat(5, 1fr) 400px;
        grid-template-rows: 35px 75px 35px 1fr 150px;
        #contactSupport{
            margin-left: 300px;
        }
}}


@media screen and (min-width:1850px){
    #startMain{
        display: grid;
        grid-template-columns:  450px repeat(5, 1fr) 450px;
        grid-template-rows: 35px 75px 35px 1fr 150px;
        #contactSupport{
            margin-left: 300px;
        }
}}

// =========================== Page ScreenPlayQuizz =========================

@media screen and (min-width:1280px){
    #screenPlayQuizzMain{
        grid-template-rows: 380px 1fr;
        grid-template-columns: 1fr 500px ;
        #topPart{
            background-size: cover;
            background-position:bottom;
            .menu{
                .menu-burger{
                        left: 2%;
                        font-size: 40px;
                }
                .navMenu{
                    height: 23%;
                    .navList{
                        margin-bottom: 2px;
                        li{
                            font-size: 20px;
                        }
                        
                    }
                }
            }
            grid-column: 1/3;
            grid-row: 1/2;
            #containerTitles{
                display: flex;
                justify-content: center;
                align-items: center;
                h1{
                    margin: 0;
                    font-size: 60px;
                }
                p{
                    text-align: center;
                    width: 65%;
                    font-weight: 600;
                    font-size: 35px;
                    color: black;
                    position: absolute;
                    left: 0px;
                    top: 420px;
                }
                
            }h2{
                    font-size: 18px;
                    padding: 15px;
                }
        }
        #visitPlace{
            &:hover{
                transform: none;
            }
            transition: none;
            padding: 40px;
            margin: 40px;
            border-radius: 20px;
            z-index: 0;
            grid-column: 2;
            grid-row: 2;
        #infoVisitPlace{
            width: 100%;
            height: 100%;
            padding-left: 30px;
            padding-right: 30px;
            h3{
                display: initial;
                font-size: 23px;
            }
            ul{
                font-size: 18px;
                text-align: start;
            }
        }
        div{ 
            margin: 0;
            margin-top: 0;
            .showInfo{
                font-size: 18px;
                font-weight: 600;
                height: 60px;
                width: 200px;
                margin: 0;
            }
        }
            
            #buttonVisitPlace{
                display: none;
            }
        }
        #bottomPart{
            height :100%;
            grid-column: 1/2;
            grid-row: 2;
            justify-content: flex-end;
            #propositions{
                align-items: center;
                height: 75%;
                .pick{
                    font-size: 20px;
                    height: 65px;
                    width: 400px;
                }
            }
            span{
                align-items: flex-start;
                height: 80px;
                a{
                    font-size: 20px;
                }
            }
        }
    }
    
}
@media screen and (min-width:1450px){
    #screenPlayQuizzMain{
        #topPart{
        #containerTitles{
            p{
                width: 70%;
            }
    }}
}
}
@media screen and (min-width:1700px){
    #screenPlayQuizzMain{
        #topPart{
        #containerTitles{
            p{
                width: 75%;
            }
    }}
}
}

//=============== Page ScreenPlayResult ==================

@media screen and (min-width:1280px){
    #bottomPart{
            .results{
                padding-right: 30px;
                padding-left: 30px;
        height: 73%;
        h1{
            margin-bottom: 30px;
            font-size: 40px;
        }
        h3{
            margin-bottom: 20px;
            font-size: 25px;
        }
        h4{
            margin-bottom: 20px;
            font-size: 23px;
            i{
                font-size: 23px;
            }
        }
        p{
            font-size: 20px;
        }
    }
    }
}

//=============== Page Catégories ==================
@media screen and (min-width:1280px){
    .section-categorie{
        grid-template-rows: 95px 70px 1fr 40px;
        grid-template-columns: 1fr 220px;
        #support{
            height : 70px;
            width: 150px;
            padding: 5px;
        }
        h1{
            font-size: 50px;
        }
    .catContainer{
        height: fit-content;
        display: flex;
        justify-content: center;
        width: 100%;
        height: fit-content;
        grid-column: 1/3;
        display: grid;
        grid-template-rows: 690px;
        column-gap: 50px;
        grid-template-columns: repeat(3, 300px);

        .categorie{
            box-shadow :(10px 10px 6px rgba(0, 0, 0, 0.25));
            border-radius: 20px;
            box-shadow: 6;
            height:100%;
            .dataBox{

                .dataTitle{
                    font-size: 25px;
                    margin-bottom: 50px;
                }
                .progressBar{
                    height: 12px;
                    width: 250px;
                }
                .progressCent{
                    font-size: 27px;
                }
            }
        }
        
        .one{
            grid-column: 1;
            grid-row: 1/2;
        }
        .two{
            grid-column: 2;
            grid-row: 1/2;
        }
        .three{
            grid-column: 3;
            grid-row: 1/2;
        }}

        #howTo
        {
            font-size: 20px;
            text-align: center;
            width: fit-content;
            margin-bottom: 30px;
        }
    } }

    @media screen and (min-width:1400px){
        .section-categorie{
            .catContainer{
                column-gap: 75px;
            }
        }
    }
    @media screen and (min-width:1500px){
        .section-categorie{
            .catContainer{
                column-gap: 115px;
            }
        }
    }
    @media screen and (min-width:1600px){
        .section-categorie{
            .catContainer{
                column-gap: 145px;
                grid-template-columns: repeat(3, 350px);

            }
        }
    }
    @media screen and (min-width:1800px){
        .section-categorie{
            .catContainer{
                column-gap: 175px;
            }}}

//=============== Contacte Support =================

@media screen and (min-width:1180px){
    .section-support{
        .formContainer{
            width: 75%;
            h1{
                font-size: 2rem;
            }
            form{
                label{
                    margin-bottom: 10px;
                    font-size: 1.6rem;
                    margin-left: 20px;
                }
                input,
                select,
                textarea{
                    font-size: 1rem;
                    margin-bottom: 35px;
                    width: 95%;
                    margin-right: 20px;
                    margin-left: 20px;
                }
                input[type='submit']{
                    width : 170px;
                    height: 50px;
                }
            }
    }
    }

}
@media screen and (min-width:1490px){
    .section-support{
        .formContainer{
        width: 65%;
    }
    }

}
@media screen and (min-width:1850px){
    .section-support{
        .formContainer{
        width: 65%;
    }
    }

}