@use "screenPlayQuizz";
    #bottomPart{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
    .results{
        h1{
            margin: 10px;
            text-align: center;
            color: green;
        }
        h3{
            margin: 10px;
        }
        h4{
            i{
                color:#FFB905 ;
                margin-right: 5px;
                margin-left: 5px;
            }
        }
        p{
            padding: 20px;
        }
    }
}