
#screenPlayQuizzMain{
    display: grid;
    grid-template-rows: 40px 1fr 40px 1fr;
    grid-column: 1fr;
    height: 100vh;
    width: 100%;
    #topPart{
        z-index: 2;
        grid-column: 1/2;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: rgba(0, 0, 0, 0.4) url(/assets/img/pexels-mathias-reding-11363635.jpg);
        background-size: cover;
        background-blend-mode: darken;
        width: 100%;
        height: 100%;
            div{
                width:100%;
                height: 90%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            h1{

            color: #FFFBFB;
            font-size: 35px;
            margin-bottom: 16px;
            }
            p{
                text-align: center;
                color: #FFFBFB;
                font-size: 25px;
                padding-left: 15px;
                padding-right: 15px;
            }
            }
            h2{
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                color: #E5E5E5;
                font-size: 15px;
            }   
        }
#visitPlace{
    z-index: 1;
    grid-column: 1;
    grid-row: 2/4;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #D9D9D9;

        #infoVisitPlace{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 40px;
            width: 60%;
            height: 60%;
                h3{
                    display: none;
                    }
                ul{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    list-style: none;
                    font-size: 10px;
                    }   
            } }
    //A voir si le span dans le a fonctionne vraiment
    div{
        font-size: 15px;
        text-decoration: none;
    .showInfo{
        // font-weight: 500;
        margin-top:26px;
        //Mettre "Visitez cet endroit en display :none lors du déroulement JS"
        //Puis mettre celui du dessus as title en display none
        margin-bottom:10px;
        text-decoration: none;
        color: black;
        border-radius: 15px;
        padding: 15px;
        background-color: #21CCAD;
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }}

    #buttonVisitPlace{
        width: 100%;
        text-align: center;
        margin-top:20px;
        margin-bottom:10px;
        font-weight: 600;
        font-size: 15px;
        height: fit-content;

    #infoVisitPlace:hover{
        transform: translateY(50%);
        transition: 2s;
    }
}

#bottomPart{
    grid-column: 1;
        grid-row: 4/5;
        width: 100%;
        height: 90%;
    #propositions{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        .pick{
            font-size: 40;
            border: none;
            border-radius: 8px;
            background-color: #D9D9D9;
            height: 45px;
            width: 180px;
        }
    }
    span{
        width: 95%;
        display: flex;
        justify-content: flex-end;
    a{
        text-decoration: none;
        color: #21CCAD;
    }
    }
}}