@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Carte "comment jouer ?" */
.howTo-card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 425px;
  border-radius: 15px;
  padding: 20px;
  background-color: #21CCAD;
  color: #EBE9E9;
  /*
  ! Il faudra passer la carte en display grid avec JS 
   */
  display: none;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 1fr 50px;
  align-items: center;
}
.howTo-card i {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 1.7rem;
}
.howTo-card h3 {
  grid-column: 1/3;
  grid-row: 2/3;
  font-size: 1.5rem;
  text-align: center;
}
.howTo-card .mainText {
  grid-column: 1/3;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 2.5rem;
  font-size: 0.85rem;
}
.howTo-card .sideText {
  grid-column: 1/3;
  grid-row: 4/5;
  justify-self: end;
  font-weight: 600;
}

a {
  text-decoration: none;
}

.path {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
.path::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
}
.path:hover {
  background-color: rgba(33, 204, 173, 0.1);
  opacity: 0.5;
}

.startMain {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 165px;
  grid-template-rows: 95px 50px 1fr 40px;
  align-items: center;
  background-image: url(/assets/img/start_img.jpg);
  background-size: cover;
  /* fin support */
}
.startMain #support {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  height: 55px;
  width: 135px;
  margin: 0 auto;
  background-color: #21CCAD;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  border-radius: 15px;
}
.startMain #support .supp {
  color: white;
  text-align: center;
  font-size: 0.85rem;
  text-decoration: none;
  font-weight: bold;
}
.startMain .startBox {
  /* grille parent */
  grid-row: 3/4;
  grid-column: 1/3;
  /* taille / positionnement */
  width: 90%;
  height: 100%;
  margin: 0 auto;
  /* flexbox */
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  /* style de la box */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #EBE9E9;
  border-radius: 30px;
}
.startMain .startBox h1 {
  font-weight: 400;
  align-self: end;
  font-size: 2rem;
}
.startMain .startBox p {
  align-self: start;
  width: 80%;
  margin: 1.2rem auto 0;
  text-align: center;
  font-weight: 900;
  font-size: 1.2rem;
  font-style: italic;
}
.startMain .playButton {
  align-self: center;
  border: none;
  border-radius: 20px;
  background-color: #21CCAD;
  color: #EBE9E9;
  font-weight: 600;
  font-size: 1.5rem;
  height: 50px;
  width: 200px;
  cursor: pointer;
}

#howTo {
  grid-column: 2/3;
  grid-row: 4/5;
  align-self: center;
  background-color: transparent;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  color: #21CCAD;
  font-weight: 600;
  width: 135px;
  margin-left: 1rem;
  cursor: pointer;
}
#howTo .howToPlay {
  color: #21CCAD;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.menu {
  position: absolute;
}

.menu-burger {
  position: fixed;
  top: 2%;
  left: 5%;
  font-size: 25px;
  z-index: 3;
  color: rgba(228, 216, 216, 0.7411764706);
  cursor: pointer;
}

.navMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.562);
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 32%;
  transform: translateY(-100%);
  transition: 1s;
}

#navMenu {
  display: none;
}

#navMenu:checked ~ nav.navMenu {
  transform: translateY(0);
}

.navClose {
  background-color: rgba(255, 255, 255, 0.0901960784);
  text-align: center;
  float: right;
  color: #e4d8d8;
  font-size: 25px;
  width: 100%;
  cursor: pointer;
  transition: 1s;
}

.navList {
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  width: 100%;
}

.navItem {
  font-size: 15px;
  padding: 5px;
  text-align: center;
}
.navItem a {
  color: aliceblue;
  text-decoration: none;
}

/* Container général : utilisation de la mainClass de main */
.section-categorie {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 165px;
  grid-template-rows: 95px 100px 1fr 40px;
  align-items: center;
  /* Bouton vers la page support */
  /* fin support */
  /* Container des categories : contient une grid de 3 lignes*/
}
.section-categorie #support {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  height: 55px;
  width: 135px;
  margin: 0 auto;
  background-color: #21CCAD;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  border-radius: 15px;
}
.section-categorie #support .supp {
  color: white;
  text-align: center;
  font-size: 0.85rem;
  text-decoration: none;
  font-weight: bold;
}
.section-categorie h1 {
  grid-column: 1/3;
  grid-row: 2/3;
  text-align: center;
}
.section-categorie .catContainer {
  grid-column: 1/3;
  grid-row: 3/4;
  display: grid;
  grid-template-rows: repeat(3, 132px);
  /* Classes pour mieux répartir les grid et isoler certaines actions*/
  /* Fin répartition */
}
.section-categorie .catContainer .categorie {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.section-categorie .catContainer .categorie .dataBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  z-index: 2;
}
.section-categorie .catContainer .categorie .dataBox .dataTitle {
  text-align: center;
  font-size: 0.85rem;
  color: #EBE9E9;
}
.section-categorie .catContainer .categorie .dataBox .progressBar {
  background-color: #EBE9E9;
  width: 230px;
  height: 5px;
  border-radius: 5px;
}
.section-categorie .catContainer .categorie .dataBox .progressCent {
  font-size: 0.85rem;
  color: #EBE9E9;
}
.section-categorie .catContainer .one {
  grid-row: 1/2;
  background: rgba(0, 0, 0, 0.4) url(/assets/img/lille.jpg);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
}
.section-categorie .catContainer .two {
  grid-row: 2/3;
  background: rgba(0, 0, 0, 0.4) url(/assets/img/monument.jpg);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
}
.section-categorie .catContainer .three {
  grid-row: 3/4;
  background: rgba(0, 0, 0, 0.4) url(/assets/img/parc.jpg);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
}
.section-categorie #howTo {
  grid-column: 2/3;
  grid-row: 4/5;
  align-self: center;
  background-color: transparent;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  color: #21CCAD;
  font-weight: 600;
  width: 135px;
  margin-left: 1rem;
  cursor: pointer;
}
.section-categorie #howTo .howToPlay {
  color: #21CCAD;
  text-decoration: none;
  font-weight: bold;
}

.carousel-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-container .items {
  width: 100%;
  height: 100%;
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.active {
  background-color: #717171;
}

/* Fading animation */
/* .fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
} */
.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  display: grid;
  grid-template-rows: 50px 1fr 100px;
  align-items: center;
  justify-items: center;
}
.container .void {
  grid-row: 1/2;
  width: 100%;
  height: 100%;
}
.container .dataBox {
  grid-row: 2/3;
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.container .dataBox .progressBar {
  background-color: #EBE9E9;
  width: 230px;
  height: 5px;
  border-radius: 5px;
}
.container .dataBox .progressCent {
  font-size: 0.85rem;
  color: #EBE9E9;
}
.container button {
  grid-row: 3/4;
  align-self: flex-start;
  height: 50px;
  width: 135px;
  background-color: rgba(185, 185, 185, 0.6);
  border-radius: 10px;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  color: white;
  font-size: 0.85rem;
  line-height: 1.5;
  overflow-y: scroll;
  cursor: pointer;
}

.screenPlayQuizzMain {
  display: grid;
  grid-template-rows: 40px 1fr 40px 1fr;
  grid-column: 1fr;
}
.screenPlayQuizzMain .topPart {
  z-index: 2;
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4) url("/assets/img/pexels-mathias-reding-11363635.jpg");
  background-size: cover;
  background-blend-mode: darken;
  width: 100%;
  height: 100%;
}
.screenPlayQuizzMain .topPart .containerTitles {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.screenPlayQuizzMain .topPart .containerTitles h1 {
  color: #FFFBFB;
  font-size: 35px;
  margin-bottom: 50px;
}
.screenPlayQuizzMain .topPart .containerTitles p {
  text-align: center;
  color: #FFFBFB;
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
}
.screenPlayQuizzMain .topPart h2 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: #E5E5E5;
  font-size: 15px;
  margin-right: 10px;
}
.screenPlayQuizzMain .visitPlace {
  z-index: 1;
  grid-column: 1;
  grid-row: 2/4;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #D9D9D9;
  box-shadow: 3px 3px 3px rgba(177, 176, 176, 0.719);
  transition: transform 2s;
}
.screenPlayQuizzMain .visitPlace:hover {
  transform: translateY(85%);
}
.screenPlayQuizzMain .visitPlace .infoVisitPlace {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 60%;
}
.screenPlayQuizzMain .visitPlace .infoVisitPlace h3 {
  display: none;
}
.screenPlayQuizzMain .visitPlace .infoVisitPlace ul {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  font-size: 15px;
}
.screenPlayQuizzMain div {
  font-size: 15px;
  text-decoration: none;
}
.screenPlayQuizzMain div .showInfo {
  margin-top: 26px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
  border-radius: 15px;
  padding: 15px;
  background-color: #21CCAD;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screenPlayQuizzMain .buttonVisitPlace {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 15px;
  height: fit-content;
}
.screenPlayQuizzMain .bottomPart {
  grid-column: 1;
  grid-row: 4/5;
  width: 100%;
  height: 90%;
}
.screenPlayQuizzMain .bottomPart .propositions {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.screenPlayQuizzMain .bottomPart .propositions .pick {
  font-size: 40;
  border: none;
  /*                 border-radius: 8px;
                  background-color: #D9D9D9; */
  width: 70%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.screenPlayQuizzMain .bottomPart input[type=submit] {
  width: 50%;
  height: 40px;
  margin: 0 auto;
  background-color: #21CCAD;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  border: transparent;
  outline: transparent;
  cursor: pointer;
}
.screenPlayQuizzMain .bottomPart .nextElement {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  border: 1px solid transparent;
  background-color: transparent;
  outline: 1px solid transparent;
}
.screenPlayQuizzMain .bottomPart .nextElement a {
  text-decoration: none;
  color: #21CCAD;
}

.bottomPart {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.bottomPart .results {
  padding-left: 10px;
  padding-right: 10px;
}
.bottomPart .results h1 {
  margin: 10px;
  text-align: center;
}
.bottomPart .results .correct {
  color: green;
}
.bottomPart .results .incorrect {
  color: red;
}
.bottomPart .results h3 {
  font-size: 15px;
  margin: 10px;
}
.bottomPart .results h4 {
  font-size: 13px;
}
.bottomPart .results h4 i {
  color: #FFB905;
  margin-right: 5px;
  margin-left: 10px;
  font-size: 15px;
}
.bottomPart .results p {
  padding: 10px;
  font-size: 12px;
}

.section-support {
  width: 100%;
  height: 100%;
  background-image: url("../img/lille.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Le style général sur le formulaire */
}
.section-support .formContainer {
  width: 95%;
  height: 95vh;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  display: grid;
  grid-template-rows: 100px 1fr;
}
.section-support .formContainer h1 {
  text-align: center;
  padding: 10px;
  grid-row: 1/2;
}
.section-support .formContainer form {
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  gap: 5px;
}
.section-support .formContainer form label {
  font-size: 0.85rem;
  font-weight: 700;
}
.section-support .formContainer form label sup {
  font-size: 0.8rem;
  font-weight: 600;
  color: red;
}
.section-support .formContainer form input,
.section-support .formContainer form textarea,
.section-support .formContainer form select {
  background-color: #b9b9b9;
  border: #21CCAD;
  border: 1px solid #21CCAD;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  letter-spacing: 1px;
}
.section-support .formContainer form input, .section-support .formContainer form select {
  height: 32px;
}
.section-support .formContainer form input[type=submit] {
  width: 130px;
  align-self: center;
}
.section-support .formContainer form .error {
  color: red;
  font-size: 0.6rem;
}

@media screen and (min-width: 1280px) {
  #startMain {
    display: grid;
    grid-template-columns: 150px repeat(5, 1fr) 150px;
    grid-template-rows: 35px 75px 35px 1fr 150px;
  }
  #startMain #contactSupport {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 6/8;
    margin-left: 100px;
    font-size: 20px;
    width: 180px;
    border-radius: 10px;
    padding: 10px;
  }
  #startMain #startBox {
    height: 100%;
    justify-content: space-evenly;
  }
  #startMain #startBox div {
    padding-top: 10px;
    height: 400px;
  }
  #startMain #startBox div h1 {
    font-size: 70px;
  }
  #startMain #startBox div p {
    font-weight: 0;
    font-size: 50px;
  }
  #startMain #startBox #playButton {
    font-size: 20px;
    margin-top: 10px;
    height: 60px;
    width: 180px;
  }
  #startMain span {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    grid-row: 4;
    grid-column: 4/7;
    margin: 20px;
  }
  #startMain span #howToPlay {
    letter-spacing: 2px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1350px) {
  #startMain {
    display: grid;
    grid-template-columns: 200px repeat(5, 1fr) 200px;
    grid-template-rows: 35px 75px 35px 1fr 150px;
  }
}
@media screen and (min-width: 1450px) {
  #startMain {
    display: grid;
    grid-template-columns: 250px repeat(5, 1fr) 250px;
    grid-template-rows: 35px 75px 35px 1fr 150px;
  }
  #startMain #contactSupport {
    margin-left: 150px;
  }
}
@media screen and (min-width: 1550px) {
  #startMain {
    display: grid;
    grid-template-columns: 300px repeat(5, 1fr) 300px;
    grid-template-rows: 35px 75px 35px 1fr 150px;
  }
}
@media screen and (min-width: 1700px) {
  #startMain {
    display: grid;
    grid-template-columns: 400px repeat(5, 1fr) 400px;
    grid-template-rows: 35px 75px 35px 1fr 150px;
  }
  #startMain #contactSupport {
    margin-left: 300px;
  }
}
@media screen and (min-width: 1850px) {
  #startMain {
    display: grid;
    grid-template-columns: 450px repeat(5, 1fr) 450px;
    grid-template-rows: 35px 75px 35px 1fr 150px;
  }
  #startMain #contactSupport {
    margin-left: 300px;
  }
}
@media screen and (min-width: 1280px) {
  #screenPlayQuizzMain {
    grid-template-rows: 380px 1fr;
    grid-template-columns: 1fr 500px;
  }
  #screenPlayQuizzMain #topPart {
    background-size: cover;
    background-position: bottom;
    grid-column: 1/3;
    grid-row: 1/2;
  }
  #screenPlayQuizzMain #topPart .menu .menu-burger {
    left: 2%;
    font-size: 40px;
  }
  #screenPlayQuizzMain #topPart .menu .navMenu {
    height: 23%;
  }
  #screenPlayQuizzMain #topPart .menu .navMenu .navList {
    margin-bottom: 2px;
  }
  #screenPlayQuizzMain #topPart .menu .navMenu .navList li {
    font-size: 20px;
  }
  #screenPlayQuizzMain #topPart #containerTitles {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #screenPlayQuizzMain #topPart #containerTitles h1 {
    margin: 0;
    font-size: 60px;
  }
  #screenPlayQuizzMain #topPart #containerTitles p {
    text-align: center;
    width: 65%;
    font-weight: 600;
    font-size: 35px;
    color: black;
    position: absolute;
    left: 0px;
    top: 420px;
  }
  #screenPlayQuizzMain #topPart h2 {
    font-size: 18px;
    padding: 15px;
  }
  #screenPlayQuizzMain #visitPlace {
    transition: none;
    padding: 40px;
    margin: 40px;
    border-radius: 20px;
    z-index: 0;
    grid-column: 2;
    grid-row: 2;
  }
  #screenPlayQuizzMain #visitPlace:hover {
    transform: none;
  }
  #screenPlayQuizzMain #visitPlace #infoVisitPlace {
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  #screenPlayQuizzMain #visitPlace #infoVisitPlace h3 {
    display: initial;
    font-size: 23px;
  }
  #screenPlayQuizzMain #visitPlace #infoVisitPlace ul {
    font-size: 18px;
    text-align: start;
  }
  #screenPlayQuizzMain #visitPlace div {
    margin: 0;
    margin-top: 0;
  }
  #screenPlayQuizzMain #visitPlace div .showInfo {
    font-size: 18px;
    font-weight: 600;
    height: 60px;
    width: 200px;
    margin: 0;
  }
  #screenPlayQuizzMain #visitPlace #buttonVisitPlace {
    display: none;
  }
  #screenPlayQuizzMain #bottomPart {
    height: 100%;
    grid-column: 1/2;
    grid-row: 2;
    justify-content: flex-end;
  }
  #screenPlayQuizzMain #bottomPart #propositions {
    align-items: center;
    height: 75%;
  }
  #screenPlayQuizzMain #bottomPart #propositions .pick {
    font-size: 20px;
    height: 65px;
    width: 400px;
  }
  #screenPlayQuizzMain #bottomPart span {
    align-items: flex-start;
    height: 80px;
  }
  #screenPlayQuizzMain #bottomPart span a {
    font-size: 20px;
  }
}
@media screen and (min-width: 1450px) {
  #screenPlayQuizzMain #topPart #containerTitles p {
    width: 70%;
  }
}
@media screen and (min-width: 1700px) {
  #screenPlayQuizzMain #topPart #containerTitles p {
    width: 75%;
  }
}
@media screen and (min-width: 1280px) {
  #bottomPart .results {
    padding-right: 30px;
    padding-left: 30px;
    height: 73%;
  }
  #bottomPart .results h1 {
    margin-bottom: 30px;
    font-size: 40px;
  }
  #bottomPart .results h3 {
    margin-bottom: 20px;
    font-size: 25px;
  }
  #bottomPart .results h4 {
    margin-bottom: 20px;
    font-size: 23px;
  }
  #bottomPart .results h4 i {
    font-size: 23px;
  }
  #bottomPart .results p {
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .section-categorie {
    grid-template-rows: 95px 70px 1fr 40px;
    grid-template-columns: 1fr 220px;
  }
  .section-categorie #support {
    height: 70px;
    width: 150px;
    padding: 5px;
  }
  .section-categorie h1 {
    font-size: 50px;
  }
  .section-categorie .catContainer {
    height: fit-content;
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    grid-column: 1/3;
    display: grid;
    grid-template-rows: 690px;
    column-gap: 50px;
    grid-template-columns: repeat(3, 300px);
  }
  .section-categorie .catContainer .categorie {
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    box-shadow: 6;
    height: 100%;
  }
  .section-categorie .catContainer .categorie .dataBox .dataTitle {
    font-size: 25px;
    margin-bottom: 50px;
  }
  .section-categorie .catContainer .categorie .dataBox .progressBar {
    height: 12px;
    width: 250px;
  }
  .section-categorie .catContainer .categorie .dataBox .progressCent {
    font-size: 27px;
  }
  .section-categorie .catContainer .one {
    grid-column: 1;
    grid-row: 1/2;
  }
  .section-categorie .catContainer .two {
    grid-column: 2;
    grid-row: 1/2;
  }
  .section-categorie .catContainer .three {
    grid-column: 3;
    grid-row: 1/2;
  }
  .section-categorie #howTo {
    font-size: 20px;
    text-align: center;
    width: fit-content;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1400px) {
  .section-categorie .catContainer {
    column-gap: 75px;
  }
}
@media screen and (min-width: 1500px) {
  .section-categorie .catContainer {
    column-gap: 115px;
  }
}
@media screen and (min-width: 1600px) {
  .section-categorie .catContainer {
    column-gap: 145px;
    grid-template-columns: repeat(3, 350px);
  }
}
@media screen and (min-width: 1800px) {
  .section-categorie .catContainer {
    column-gap: 175px;
  }
}
@media screen and (min-width: 1180px) {
  .section-support .formContainer {
    width: 75%;
  }
  .section-support .formContainer h1 {
    font-size: 2rem;
  }
  .section-support .formContainer form label {
    margin-bottom: 10px;
    font-size: 1.6rem;
    margin-left: 20px;
  }
  .section-support .formContainer form input,
.section-support .formContainer form select,
.section-support .formContainer form textarea {
    font-size: 1rem;
    margin-bottom: 35px;
    width: 95%;
    margin-right: 20px;
    margin-left: 20px;
  }
  .section-support .formContainer form input[type=submit] {
    width: 170px;
    height: 50px;
  }
}
@media screen and (min-width: 1490px) {
  .section-support .formContainer {
    width: 65%;
  }
}
@media screen and (min-width: 1850px) {
  .section-support .formContainer {
    width: 65%;
  }
}

/*# sourceMappingURL=style.css.map */
