@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Container général : utilisation de la mainClass de main */
.section-categorie {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 165px;
  grid-template-rows: 95px 100px 1fr 40px;
  align-items: center;
  font-family: "Inter", sans-serif;
  /* Bouton vers la page support */
  /* fin support */
  /* Container des categories : contient une grid de 3 lignes*/
}
.section-categorie #support {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  height: 55px;
  width: 135px;
  margin: 0 auto;
  background-color: #21CCAD;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  border-radius: 15px;
}
.section-categorie #support a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
}
.section-categorie h1 {
  grid-column: 1/3;
  grid-row: 2/3;
  text-align: center;
}
.section-categorie .catContainer {
  grid-column: 1/3;
  grid-row: 3/4;
  display: grid;
  grid-template-rows: repeat(3, 132px);
  /* Classes pour mieux répartir les grid et isoler certaines actions*/
  /* Fin répartition */
}
.section-categorie .catContainer .categorie {
  height: 100%;
  position: relative;
  overflow: hidden;
  /* 
  todo ajouter une ombre 
  */
}
.section-categorie .catContainer .categorie .imgBox {
  width: 100%;
  position: relative;
}
.section-categorie .catContainer .categorie .imgBox::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #616161;
  opacity: 0.4;
  position: absolute;
  z-index: 1;
}
.section-categorie .catContainer .categorie .imgBox img {
  width: 100%;
}
.section-categorie .catContainer .categorie .dataBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  z-index: 2;
}
.section-categorie .catContainer .categorie .dataBox .dataTitle {
  text-align: center;
  font-size: 0.85rem;
  color: #EBE9E9;
}
.section-categorie .catContainer .categorie .dataBox .progressBar {
  background-color: #EBE9E9;
  width: 230px;
  height: 5px;
  border-radius: 5px;
}
.section-categorie .catContainer .categorie .dataBox .progressCent {
  font-size: 0.85rem;
  color: #EBE9E9;
}
.section-categorie .catContainer .one {
  grid-row: 1/2;
}
.section-categorie .catContainer .one img {
  transform: translateY(-20%);
}
.section-categorie .catContainer .two {
  grid-row: 2/3;
}
.section-categorie .catContainer .two img {
  transform: translateY(-15%);
}
.section-categorie .catContainer .three {
  grid-row: 3/4;
}
.section-categorie .catContainer .three img {
  transform: translateY(-25%);
}
.section-categorie #howTo {
  grid-column: 2/3;
  grid-row: 4/5;
  align-self: center;
  background-color: transparent;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  color: #21CCAD;
  font-weight: 600;
  width: 135px;
  margin-left: 1rem;
  cursor: pointer;
}

.menu {
  position: absolute;
}

.menu-burger {
  position: fixed;
  top: 2%;
  left: 5%;
  font-size: 25px;
  z-index: 2;
  color: aliceblue;
  cursor: pointer;
}

.navMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.562);
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 32%;
  transform: translateY(-100%);
  transition: 1s;
}

#navMenu {
  display: none;
}

#navMenu:checked ~ nav.navMenu {
  transform: translateY(0);
}

.navClose {
  background-color: rgba(255, 255, 255, 0.0901960784);
  text-align: center;
  float: right;
  color: #e4d8d8;
  font-size: 25px;
  width: 100%;
  cursor: pointer;
  transition: 1s;
}

.navList {
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  width: 100%;
}

.navItem {
  font-size: 15px;
  padding: 5px;
}
.navItem a {
  color: aliceblue;
  text-decoration: none;
}

.containerC {
  width: 100%;
  height: 100%;
  position: relative;
}
.containerC::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
}

main {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
}
main .container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  display: grid;
  grid-template-rows: 50px 1fr 100px;
  align-items: center;
  justify-items: center;
}
main .container .void {
  grid-row: 1/2;
  width: 100%;
  height: 100%;
}
main .container .dataBox {
  grid-row: 2/3;
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
main .container .dataBox .progressBar {
  background-color: #EBE9E9;
  width: 230px;
  height: 5px;
  border-radius: 5px;
}
main .container .dataBox .progressCent {
  font-size: 0.85rem;
  color: #EBE9E9;
}
main .container button {
  grid-row: 3/4;
  align-self: flex-start;
  height: 50px;
  width: 135px;
  background-color: rgba(185, 185, 185, 0.6);
  border-radius: 10px;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  color: white;
  font-size: 0.85rem;
  line-height: 1.5;
  cursor: pointer;
}

.section-support {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  background-image: url("../img/lille.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Le style général sur le formulaire */
}
.section-support .formContainer {
  width: 95%;
  height: 95vh;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  display: grid;
  grid-template-rows: 100px 1fr;
}
.section-support .formContainer h1 {
  text-align: center;
  padding: 10px;
  grid-row: 1/2;
}
.section-support .formContainer form {
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  gap: 5px;
}
.section-support .formContainer form label {
  font-size: 0.85rem;
  font-weight: 700;
}
.section-support .formContainer form label sup {
  font-size: 0.8rem;
  font-weight: 600;
  color: red;
}
.section-support .formContainer form input,
.section-support .formContainer form textarea,
.section-support .formContainer form select {
  background-color: #b9b9b9;
  border: #21CCAD;
  border: 1px solid #21CCAD;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  letter-spacing: 1px;
}
.section-support .formContainer form input, .section-support .formContainer form select {
  height: 32px;
}
.section-support .formContainer form input[type=submit] {
  width: 130px;
  align-self: center;
}
.section-support .formContainer form .error {
  color: red;
  font-size: 0.6rem;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

main {
  position: relative;
}

/* Carte "comment jouer ?" */
.howTo-card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 425px;
  border-radius: 15px;
  padding: 20px;
  background-color: #21CCAD;
  color: #EBE9E9;
  /*
  ! Il faudra passer la carte en display grid avec JS 
   */
  display: none;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 1fr 50px;
  align-items: center;
}
.howTo-card i {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 1.7rem;
}
.howTo-card h3 {
  grid-column: 1/3;
  grid-row: 2/3;
  font-size: 1.5rem;
  text-align: center;
}
.howTo-card .mainText {
  grid-column: 1/3;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 2.5rem;
  font-size: 0.85rem;
}
.howTo-card .sideText {
  grid-column: 1/3;
  grid-row: 4/5;
  justify-self: end;
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
