@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
#startMain {
  height: 100vh;
  display: grid;
  grid-template-columns: 100px repeat(5, 1fr) 100px;
  grid-template-rows: 50px 140px 50px 1fr 50px 50px 100px;
  background-image: url(/assets/img/start_img.jpg);
  background-size: cover;
}
#startMain #contactSupport {
  border-radius: 20px;
  font-size: 40px;
  background-color: #21CCAD;
  color: #EBE9E9;
  width: 300px;
  grid-row: 2;
  grid-column: 6;
}
#startMain #startBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #EBE9E9;
  grid-row: 4;
  grid-column: 2/7;
  border-radius: 30px;
}
#startMain #startBox h1 {
  margin-top: 400px;
  font-size: 80px;
}
#startMain #startBox p {
  margin-top: 200px;
  font-size: 60px;
}
#startMain #startBox #playButton {
  margin-top: 500px;
  font-size: 70px;
  background-color: #21CCAD;
  color: #EBE9E9;
  border-radius: 20px;
  height: 150px;
  width: 70%;
}
#startMain #howToPlay {
  grid-row: 7;
  grid-column: 6;
  color: #21CCAD;
  font-size: 35px;
}

#screenPlayQuizzMain {
  display: grid;
  grid-template-rows: 50px 1fr 50px 1fr;
  grid-column: 1fr;
  height: 100vh;
  width: 100%;
}
#screenPlayQuizzMain #topPart {
  z-index: 2;
  grid-column: 1;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: rgba(0, 0, 0, 0.3) url(/assets/img/pexels-mathias-reding-11363635.jpg);
  background-size: cover;
  background-blend-mode: darken;
  width: 100%;
  height: 100%;
}
#screenPlayQuizzMain #topPart h1 {
  display: flex;
  justify-content: center;
  color: #FFFBFB;
  font-size: 10px;
  margin-bottom: 160px;
}
#screenPlayQuizzMain #topPart p {
  text-align: center;
  display: flex;
  justify-content: center;
  color: #FFFBFB;
  font-size: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
#screenPlayQuizzMain #topPart h2 {
  display: flex;
  justify-content: flex-end;
  color: #E5E5E5;
  font-size: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
#screenPlayQuizzMain #visitPlace {
  z-index: 1;
  grid-column: 1;
  grid-row: 2/4;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #D9D9D9;
}
#screenPlayQuizzMain #visitPlace #infoVisitPlace {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  width: 60%;
  height: 60%;
}
#screenPlayQuizzMain #visitPlace #infoVisitPlace h3 {
  display: none;
}
#screenPlayQuizzMain #visitPlace #infoVisitPlace ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  font-size: 35px;
}
#screenPlayQuizzMain #visitPlace a {
  margin-top: 26px;
  margin-bottom: 80px;
  text-decoration: none;
  color: black;
  border-radius: 25px;
  padding: 15px;
  background-color: #21CCAD;
  font-size: 32px;
}
#screenPlayQuizzMain #visitPlace #buttonVisitPlace {
  margin-top: 26px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 15px;
  width: fit-content;
  height: fit-content;
}
#screenPlayQuizzMain #bottomPart {
  grid-column: 1;
  grid-row: 4/5;
  width: 100%;
  height: 100%;
}
#screenPlayQuizzMain #bottomPart #propositions {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#screenPlayQuizzMain #bottomPart #propositions .pick {
  font-size: 40;
  border: none;
  border-radius: 20px;
  background-color: #D9D9D9;
  height: 50px;
  width: 120px;
}

nav {
  margin: 100px auto;
  width: 50%;
  height: 100px;
  background: rgba(0, 0, 0, 0.2039215686);
}

/* Container général : utilisation de la mainClass de main */
.section-categorie {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 165px;
  grid-template-rows: 95px 120px 1fr 55px;
  font-family: "Inter", sans-serif;
  /* Bouton vers la page support */
  /* Container des categories : contient une grid de 3 lignes*/
}
.section-categorie #support {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  height: 55px;
  width: 135px;
  margin: 0 auto;
  background-color: #21CCAD;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  border-radius: 15px;
}
.section-categorie #support a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
}
.section-categorie h1 {
  grid-column: 1/3;
  grid-row: 2/3;
  text-align: center;
}
.section-categorie .catContainer {
  grid-column: 1/3;
  grid-row: 3/4;
  display: grid;
  grid-template-rows: repeat(3, 132px);
  /* Classes pour mieux répartir les grid et isoler certaines actions*/
  /* Fin répartition */
}
.section-categorie .catContainer .categorie {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.section-categorie .catContainer .categorie .imgBox {
  width: 100%;
}
.section-categorie .catContainer .categorie img {
  width: 100%;
  position: relative;
}
.section-categorie .catContainer .categorie img::before {
  width: 100%;
  background-color: #616161;
  opacity: 1;
  position: absolute;
}
.section-categorie .catContainer .categorie .dataBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.section-categorie .catContainer .categorie .dataBox .dataTitle {
  text-align: center;
  font-size: 0.85rem;
  color: #EBE9E9;
}
.section-categorie .catContainer .categorie .dataBox .progressBar {
  background-color: #EBE9E9;
  width: 135px;
  height: 5px;
  border-radius: 5px;
}
.section-categorie .catContainer .categorie .dataBox .progressCent {
  font-size: 0.85rem;
  color: #EBE9E9;
}
.section-categorie .catContainer .one {
  grid-row: 1/2;
}
.section-categorie .catContainer .one img {
  transform: translateY(-20%);
}
.section-categorie .catContainer .two {
  grid-row: 2/3;
}
.section-categorie .catContainer .two img {
  transform: translateY(-15%);
}
.section-categorie .catContainer .three {
  grid-row: 3/4;
}
.section-categorie .catContainer .three img {
  transform: translateY(-25%);
}
.section-categorie #howTo {
  grid-column: 2/3;
  grid-row: 4/5;
  align-self: center;
  background-color: transparent;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  color: #21CCAD;
  font-weight: 600;
  width: 135px;
  margin-left: 1rem;
  cursor: pointer;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

main {
  position: relative;
}

/* Carte "comment jouer ?" */
.howTo-card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 425px;
  border-radius: 15px;
  padding: 20px;
  background-color: #21CCAD;
  color: #EBE9E9;
  /*
  Il faudra passer la carte en display grid avec JS 
       */
  display: none;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 1fr 50px;
  align-items: center;
}
.howTo-card i {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 1.7rem;
}
.howTo-card h3 {
  grid-column: 1/3;
  grid-row: 2/3;
  font-size: 1.5rem;
  text-align: center;
}
.howTo-card .mainText {
  grid-column: 1/3;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 2.5rem;
  font-size: 0.85rem;
}
.howTo-card .sideText {
  grid-column: 1/3;
  grid-row: 4/5;
  justify-self: end;
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
