@use "variables"as v;
@use "carousel";


*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel{
    z-index: 1;
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0 auto;

    .carousel__button{
        padding: 10px;
        z-index: 2;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        border: none;
        cursor: pointer;

        i{
            font-size: 18px;
        }
    }
    .carousel__button--left{
        color: black;
    }

    .carousel__track-container{
        background-color: rgb(72, 75, 77);
        height: 100%;
        position: relative;
        overflow: hidden;

        .carousel__track{
            width: 100%;
            position: relative;
            height: 100%;
            padding: 0;
            margin: 0;
            list-style: none;
            transition: transform 250ms ease-in;

            .carousel__slide{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100%;
                h3{
                    font-size: 2rem;
                    color: #21CCAD;
                    background-color: rgba(0, 0, 0, 0.671);
                    padding: 20px;
                    margin: 10px;
                    border-radius: 15px;
                }
                button{
                    border-radius: 10px;
                    width: 35%;
                    background-color: #21CCAD;
                    border: none;
                    font-size: 18px;
                    margin: 15px;
                    padding: 10px;
                    box-shadow: 6px 6px 6px black;
                }
            }
        }
    }
    .carousel__button--right{
        right: 0px;
        color: black;
    }
    

}

